<!DOCTYPE html>
<html>
  <head>
    <title>APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= javascript_include_tag 'application' %>

  <% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>

<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
